$black: #000000;

$icons: (
        "linkedin" #1566c2,
        "github" #181717,
        "email" #3b82f6,
        "twitter" #1c9cf4,
        "pdf" #f46c14,
        "javascript" #f7df1d,
        "html5" #e34f25,
        "css3" #1972b6,
        "typescript" #3178c6,
        "dart" #1975c2,
        "react" #61dafb,
        "redux" #764abc,
        "next" $black,
        "vercel" $black,
        "mui" #1d81cb,
        "chakra" #319795,
        "threejs" $black,
        "astro" #294a62,
        "nodejs" #339933,
        "express" $black,
        "mongodb" #47a248,
        "heroku" #430b98,
        "strapi" #4945ff,
        "firebase" #fcca28,
        "prisma" #2d3748,
        "graphql" #e00098,
        "postgresql" #336791,
        "nestjs" #e0234e,
        "react-native" #61dafb,
        "flutter" #10569b,
        "flydotio" #7A3AED,
        "fastapi" #05998B,
        "redis" #FF4438,
        "supabase" #268159,
        "mysql" #4479A1,
        "git" #f05032,
        "docker" #2496ED,
        "aws" #FF9900,
        "digitalocean" #0080FF,
        "vscode" #35ACF2,
        "postman" #FF6C37,
        "akamai" #006699,
        "figma" #F24E1E,
        "digitalocean" #0080FF,
);

@mixin icon-style($color) {
  width: 65px;
  background-color: $color;
}

@each $name, $color in $icons {
  .#{$name}-icon {
    @include icon-style($color);
  }
}

.tailwind-icon {
  color: #38bdf8;
}
