---
import { Icon } from "astro-icon/components";
---

<footer
  class="w-full bg-slate-100 shadow-inner flex items-center justify-center p-4"
  aria-label="footer"
>
  <div class="flex justify-center items-center">
    Made with <Icon
      name="simple-icons:astro"
      width="40"
      height="40"
      class="px-[0.25rem] text-gray-500 hover:text-gray-700"
    />
    <Icon
      name="mdi:tailwind"
      width="30"
      height="30"
      class="px-[0.25rem] tailwind-icon"
    />
  </div>

  <script src="../utils/getFullYear"></script>
</footer>
