---
import "../styles/styles.scss";
---

<div class="md:flex md:items-center md:justify-center md:mt-3 hidden">
  <a
    href="#home"
    class="mr-[1rem] text-gray-600 text-lg hover:text-gray-800 font-medium"
    >Home</a
  >
  <a
    href="#skills"
    class="mx-[1rem] text-gray-600 hover:text-gray-800 text-lg font-medium"
    >Skills</a
  >
  <a
    href="#projects"
    class="mx-[1rem] text-gray-600 hover:text-gray-800 text-lg font-medium"
    >Projects</a
  >
  <a
    href="#about"
    class="ml-[1rem] text-gray-600 hover:text-gray-800 text-lg font-medium"
    >About</a
  >
</div>
