---
import { Icon } from "astro-icon/components";
import { projects } from "../data/Projects";
import Card from "./Card.astro";

export interface ProjectProps {
  name: string;
  description: string;
  href: string;
  tags: string[];
}
---

<div
  id="projects"
  class="flex justify-between items-center flex-col-reverse xl:flex-row w-[83%] m-auto py-[3rem]"
  aria-label="projects"
>
  <div
    class="grid md:grid-cols-2 grid-cols-1 gap-[0.8rem] xl:mr-[2.5rem] mr-0 mt-[2.5rem]"
  >
    {
      projects.map(({ name, description, href, tags }: ProjectProps) => {
        return (
          <Card name={name} description={description} href={href} tags={tags} />
        );
      })
    }
  </div>
  <div class="flex flex-col justify-center items-center">
    <h6 class="text-6xl font-light">Projects</h6>
    <Icon name="projects" width="500" height="500" class="hidden xl:flex" />
  </div>
</div>
