---
import { Icon } from "astro-icon/components";
import { backendIcons } from "../data/BackendIcons";
import { frontendIcons } from "../data/FrontendIcons";
import { languageIcons } from "../data/LanguageIcons";
import { mobileIcons } from "../data/MobileIcons";
import SkillIcon from "./SkillIcon.astro";

import "../styles/styles.scss";
---

<div
  id="skills"
  class="flex justify-between items-center flex-col xl:flex-row w-[83%] m-auto py-[3rem]"
  aria-label="skills"
>
  <div class="flex flex-col justify-center items-center">
    <h6 class="text-6xl font-light">Skills</h6>
    <Icon name="skill" width="500" height="500" class="hidden xl:flex" />
  </div>
  <div
    class="flex flex-wrap flex-col my-[1rem] lg:my-0 justify-center xl:items-end items-center"
  >
    <SkillIcon heading="Languages" icons={languageIcons} />
    <SkillIcon heading="Frontend" icons={frontendIcons} />
    <SkillIcon heading="Backend" icons={backendIcons} />
    <SkillIcon heading="Mobile" icons={mobileIcons} />
  </div>
</div>
