---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Head from "./Head.astro";
import "../global.css";

export interface Props {
  title?: string;
  description?: string;
}

const { title = "Hassan", description = "Hassan's Portfolio" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<Head title={title} description={description} />
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
